
{% extends 'layout.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Qc</title>

</head>
<body>
<div class="table-wrapper">
{% if user.is_authenticated%}
<h2 align="center">Edit QC of {{get_drawing_id.drawingNo}}</h2>
<form method="POST" action="/workflow/{{get_drawing_id.drawingNo}}/update/qc/{{get_qc_id.id}}">
    {% csrf_token %}


    <div class='form-group'>
        
        <lable for="">Checking quantity</lable>
        <input type='number' name ='Quantity' class="form-control" max='{{get_drawing_id.Quantity}}' min='0' value='{{get_qc_id.Quantity}}'>
        <lable for="">(Quantity of this drawing = {{get_drawing_id.Quantity}})</lable>
        
    </div>
    <p><input type="checkbox" required name="terms"> I have checked <u>Cutting and Machine</u> already.</p>
    <input type="submit" class='btn btn-success' onclick="submitbtn()">
    <a style="color: #c80000;">{{ form.errors }}</a>

</form>









{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</div>
</body>
</html>
{% endblock %}
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        