{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create QC Painting | OP AUTOTECH</title>
</head>
<body>
<div class="table-wrapper">
{% if user.is_authenticated%}
{% if request.user.groups.all.0.name == 'QC' or request.user.groups.all.1.name == 'QC' or request.user.groups.all.2.name == 'QC' or request.user.groups.all.3.name == 'QC' or request.user.groups.all.4.name == 'QC' or request.user.groups.all.5.name == 'QC' or request.user.groups.all.6.name == 'QC' or user.is_staff%}
<h2 align="center" style="margin-bottom: 20px;">Create Painting QC of {{get_drawing_id}}</h2>
<form method="POST" onsubmit="return checkForm(this);">
    {% csrf_token %}
    <p hidden>{% render_field form.user class="form-control"%}</p>
    <div hidden>
        <input class="input100 form-control" type="text" name="painting" value = "{{get_painting_id.id}}" required>
    </div>


    
    <lable style="margin-left: 25px;">Checking quantity</lable>
    <div class="wrap-input100 validate-input">
        <input class="input100 form-control" type="number" name="Quantity" max='{{get_drawing_id.Quantity}}' min='0' placeholder="Drawing quantity = {{get_drawing_id.Quantity}}" required>
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

 

    <p><input type="checkbox" required name="terms"> I have checked <u>Painting</u> already.</p>
    
    <input type="submit" class="btn btn-success" name="myButton" value="Submit">
    <a href='/workflow/{{get_drawing_id.drawingNo}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to discard your changes?');">Back</a>
    <a style="color: #c80000;">{{ form.errors }}</a>
</form>
{% endif %}





{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</div>
</body>
</html>
{% endblock %}










