{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
{% if user.is_authenticated%}
<h2 align="center">Drawing of {{get_drawing_id.drawingNo}}</h2>
<form method="POST">
    {% csrf_token %}
    <p hidden>{% render_field form.user class="form-control"%}</p>
    <div class='form-group'>
        <p hidden><lable for="exampleFormControlSelect1">Drawing No.</lable>
        {% render_field form.drawing class="form-control" %}</p> 
    </div>

    <div class="form-group">
        <lable for="">Checking quantity</lable>
        <input type='number' name ='Quantity' class="form-control" max='{{get_drawing_id.Quantity}}' min='0'>
        <lable for="">(Quantity of this drawing = {{get_drawing_id.Quantity}})</lable>
    </div>

    <h1></h1>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{form.errors}}
      </div>
    {% endif %}

    <p><input type="checkbox" required name="terms">I have checked <u>Painting </u>already.</p>
    
    <input type="submit" class="btn btn-primary" onclick="submitbtn()">

</form>





{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
{% endblock %}










