<DOCTYPE html>
    {% extends 'layout.html' %}
    
    
    {% block content %}
    {% if user.is_authenticated%}
    <h2 align="center">Maker of drawing number {{get_drawing_id.drawingNo}}</h2>
    <form method="POST" action="/workflow/{{get_drawing_id.drawingNo}}/update/maker/{{get_maker_id.id}}">
        {% csrf_token %}
    
        <div class='form-group'>
            <lable for="">Maker name</lable>
            <input type='text' name ='name' class="form-control" value='{{get_maker_id.name}}'>
        </div>
        
        <input type="submit" class='btn btn-success' onclick="submitbtn()">
        <!-- {% if messages %}
        {% for updaterecord in massages %}
        <a onclick="return Alert('Are you sure you want to delete this item?');">Delete</a>
        {{updaterecord}}
        {% endfor %}
        {% endif %} -->
    
    </form>
    
    
    
    
    
    
    
    
    
    {% else %}
        <h1 align="center"><a href="/login" >You need to login first</a></h1>
    {% endif %}
    {% endblock %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        