
{% extends 'layout.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Maker</title>

</head>
<body>
<div class="table-wrapper">
{% if user.is_authenticated%}
<h2 align="center">Edit maker of {{get_drawing_id.drawingNo}}</h2>
<form method="POST" action="/workflow/{{get_drawing_id.drawingNo}}/update/maker/{{get_maker_id.id}}">
    {% csrf_token %}

    <div class='form-group'>
        <lable for="">Maker company</lable>
        <input type='text' name ='name' class="form-control" value='{{get_maker_id.name}}'>
    </div>
    
    <input type="submit" class='btn btn-success' onclick="submitbtn()">
    <a style="color: #c80000;">{{ form.errors }}</a>

</form>









{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</div>
</body>
</html>
{% endblock %}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    