{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated%}
<h2 align="center"> Drawing of </h2>

<div style="overflow-x: auto;">
<table class="table">
    <thead class="table-striped table-dark" >
      <tr>
        <!-- <th scope="col">Job name</th> -->
        <th scope="col">Drawing No</th>
        <th scope="col">Drawing Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Publish date</th>
        <th scope="col">Create by</th>

        <th scope="col">document No</th>
        <th scope="col">documentQuantity</th>
        <th scope="col">document Publish date</th>
        <th scope="col">document Create by</th>
        <th scope="col">document No</th>
        <th scope="col">documentQuantity</th>
        <th scope="col">document Publish date</th>
        <th scope="col">document Create by</th>
        <th scope="col">document No</th>
        <th scope="col">documentQuantity</th>
        <th scope="col">document Publish date</th>
        <th scope="col">document Create by</th>
        <th scope="col">document No</th>
        <th scope="col">documentQuantity</th>
        <th scope="col">document Publish date</th>
        <th scope="col">document Create by</th>

      </tr>
    </thead>
    <tbody>
    {% for first_person in first_person %}

    <tr align="center">

        <th>{{first_person.jobNo}}</a></th>
        <td>{{first_person.projectName}}</td>
        <td>{{first_person.projectDesc}}</td>
        <td>{{first_person.job_id}}</td>
        <td>{{first_person.Quantity}}</td>
        <td>{{first_person.a}}</td>

        <td>{{first_person.user}}</td>
        <td>{{first_person.datePublish}}



        {% if drawing.drawingNo == cutting.drawing_id %}
        <td>{{cutting.drawing}}</td>
        <td>{{cutting.Quantity}}</td>
        <td>{{cutting.datePublish}}</td>
        <td>{{cutting.user}}</td>
        {% endif %}
        

    </tr>
    {% endfor %} 
    </tbody>
  </table>
</div>


{% else %}
  <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
{% endblock %}