{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Drawing</title>

</head>
<body>
<div class="table-wrapper">
{% if user.is_authenticated%}
<h2 align="center">Create drawing of {{get_job_id.jobNo}}</h2>
<form method="POST">
    {% csrf_token %}
    <p hidden>{% render_field form.user class="form-control"%}</p>
    <div class='form-group'>
        
        <lable for="exampleFormControlSelect1">Select job No.</lable>

        {% render_field form.job class="form-control" %}
        
    </div>

    <div class="form-group">
        <lable for="">Drawing No.</lable>

        {% render_field form.drawingNo class="form-control" %}
    </div>

    <div class="form-group">
        <lable for="">Drawing Description</lable>

        {% render_field form.drawingDesc class="form-control" %}
    </div>


    <div class="form-group">
        <lable for="">Drawing quantity</lable>

        {% render_field form.Quantity class="form-control" %}
    </div>

    <h1></h1>
    
    <input type="submit" class="btn btn-primary" onclick="submitbtn()">
    <a style="color: #c80000;">{{ form.errors }}</a>
</form>





{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</div>
</body>
</html>
{% endblock %}










