{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated%}
<h2 align="center"> Drawing of {{get_job_id.jobNo}} </h2>
<a href="{% url 'mysite:createDrawing' job_id=get_job_id.jobNo %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="float: left;">Create new drawing</a>

<table class="table">
    <thead class="table-striped table-dark" >
      <tr>
        <!-- <th scope="col">Job name</th> -->
        <th scope="col">Drawing No</th>
        <th scope="col">Drawing Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Publish date</th>
        <th scope="col">Create by</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for drawing in get_job_id.drawingjob.all %}
    <tr align="center">

        <th scope="row"><a href="/workflow/{{drawing.drawingNo}}">{{drawing.drawingNo}}</a></th>
        <td>{{drawing.drawingDesc}}</td>
        <td>{{drawing.Quantity}}</td>
        <td>{{drawing.datePublish}}</td>
        <td>{{drawing.user}}</td>
        <td>
          <a href='/drawingTable/{{get_job_id.jobNo}}/edit/{{drawing.drawingNo}}'><span class='btn btn-success'>Edit</span></a>
          <a href='/drawingTable/{{get_job_id.jobNo}}/delete/{{drawing.drawingNo}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
        </td>
    </tr>
    {% endfor %} 
    </tbody>
  </table>



{% else %}
  <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
{% endblock %}