{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Job</title>

</head>
<body>
<div class="table-wrapper">
{% if user.is_authenticated%}

<h2 align="center" style="margin-bottom: 20px;">Create Job</h2>
<form method="POST" onsubmit="return checkForm(this);">
    {% csrf_token %}
    <p hidden>{% render_field form.user class="form-control"%}</p>

    <lable style="margin-left: 25px;">Job No.</lable>
    <div class="wrap-input100 validate-input">
        <input class="input100 form-control" type="text" name="jobNo" >
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <lable style="margin-left: 25px;">Project Name</lable>
    <div class="wrap-input100 validate-input">
        <input class="input100 form-control" type="text" name="projectName" >
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </span>
    </div>


    <lable style="margin-left: 25px;">Project Description</lable>
    <div class="wrap-input100 validate-input">
        <textarea class="input100 form-control" type="text" name="projectDesc"  rows="4"></textarea>
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-file" aria-hidden="true"></i>
        </span>
    </div>


    
    <input type="submit" class="btn btn-success" name="myButton" value="Submit">
    <a href='/jobTable' class='btn btn-danger' onclick="return confirm('Are you sure you want to discard your changes?');">Back</a>
    <a style="color: #c80000;">{{ form.errors }}</a>

</form>










{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</div>
</body>
</html>
{% endblock %}




















<!-- <DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
        <h2>{{ text1 }}</h2>
        <h2>{{ text1 }}</h2>

        <h2>tags</h2>
        {% for tag in tag %}
            <p> {{tag}}  </p>
        {% endfor %}

        <ul>
        <h1>hello</h1>
            {% for tag in tag %}
            <li> {{tag}}  </li>
        {% endfor %}
        </ul>

        <h2>hi</h2>
        {% if rating > 3 %}
            <h3> morethan 3</h3>
        {% else %}
        <h3> lessthan 3 </h3>
        {% endif %}
</body>
</html> -->