{% extends 'layout.html' %}

{% block content %}

<DOCTYPE html>
  <html lang="en">
    <head>
      <mate charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Jobs | OP AUTOTECH</title>
  </head>
<body>
{% if user.is_authenticated and user.is_staff %}
<div class="container-lg">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div align="center" class="work-flow"><h1>Job <b>{{get_job_id}}</b></h1></div>
      </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mysite:jobTable' %}">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Job Report</li>
          </ol>
        </nav>
          <div style="overflow-x: auto;">
          <table class="table table-bordered">
            <thead class="table-striped table-dark">
              <tr align="center">       
                <th  scope="col" style="max-width:20px">Section</th>
                <th scope="col" class="js-sort-number" style="max-width:100px">Total quantity</th>
                <th scope="col" class="js-sort-number" style="max-width:100px">Complete</th>
                <th scope="col" class="js-sort-number" style=" min-width: 150px;">%</th>      
              </tr>
            </thead>
            <tbody>
            {% for all in all_qty %}
            {% if get_job_id.jobNo == all.jobNo %}
            <tr >
              <th scope="row" style="text-align: center;">DOCUMENT</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Document_QTY}}</td>
              <td>{{perDocument}}</td>
            </tr>

            <tr>
              <th scope="row" style="text-align: center;">RAW-MATERIAL</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Cutting_QTY}}</td>
              <td>{{perCutting}}</td>
            </tr>

            <tr >
              <th scope="row" style="text-align: center;">MACHINE</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Machine_QTY}}</td>
              <td>{{perMachine}}</td>
            </tr>

            <tr>
              <th scope="row" style="text-align: center;">QC</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Qc_QTY}}</td>
              <td>{{perQc}}</td>
            </tr>

            <tr>
              <th scope="row" style="text-align: center;">PAINTING AND TREATMENT</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Painting_QTY}}</td>
              <td>{{perPainting}}</td>
            </tr>

            <tr>
              <th scope="row" style="text-align: center;">FINAL QC</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.PaintingQc_QTY}}</td>
              <td>{{perPaintingQc}}</td>
            </tr>

            <tr>
              <th scope="row" style="text-align: center;">ASSEMBLY</th>
              <td style="text-align: center;">{{all.QTY}}</td>
              <td style="text-align: center;">{{all.Assembly_QTY}}</td>
              <td>{{perAssembly}}</td>
            </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
  </div>
</div>
{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</body>
</html>
{% endblock %}