{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated%}
<DOCTYPE html>
  <html lang="en">
<h1></h1>
<h1> </h1>
<body>
  <h2 align="center"> Job data </h2>
    <div style="overflow-x: auto;">
    <form class="form-inline my-2 my-lg-0" action="{% url 'mysite:jobTable' %}" style="float: right;">
      <input class="form-control mr-sm-2" type="search"   placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="/createJob" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" text-align="left" >Create new job</a>
  
  <table class="table">
      <thead class="table-striped table-dark">
        <tr text-align="center">
          
          <th scope="col">Job No</th>
          <th scope="col">Project Name</th>
          <!-- <th scope="col">Project Description</th> -->
          <th scope="col">Publish date</th>
          <th scope="col">Create by</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
      <tr align="center">
          <th scope="row" class="align-middle" ><a href="{% url 'mysite:drawingTable' job_id=job.jobNo %}">{{job.jobNo}}</a></th>
          <td class="align-middle">{{job.projectName}}</td>
          <!-- <td>{{job.projectDesc}}</td> -->
          <td class="align-middle">{{job.datePublish}}</td>
          <td class="align-middle">{{job.user}}</td>

          
          {% if user.id == job.user.id or user.is_superuser %}
          <td>
            <a href='/jobTable/edit/{{job.jobNo}}'><span class='btn btn-success'>Edit</span></a>
            <h1></h1>
            <a href='/jobTable/delete/{{job.jobNo}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>






{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
{% endblock %}