<DOCTYPE html>
    {% extends 'layout.html' %}
    
    
    {% block content %}
    {% if user.is_authenticated%}
    <h2 align="center">Assemby of drawing number {{get_drawing_id.drawingNo}}</h2>
    <form method="POST" action="/workflow/{{get_drawing_id.drawingNo}}/update/assemby/{{get_assemby_id.id}}">
        {% csrf_token %}
    
    
        <div class='form-group'>
            
            <lable for="">Assemby quantity</lable>
            <input type='number' name ='Quantity' class="form-control" max='{{get_drawing_id.Quantity}}' min='0' value='{{get_cutting_id.Quantity}}'>
            <lable for="">(Quantity of this drawing = {{get_drawing_id.Quantity}})</lable>
            
        </div>
        
        <input type="submit" class='btn btn-success'>
        <!-- {% if messages %}
        {% for updaterecord in massages %}
        <a onclick="return Alert('Are you sure you want to delete this item?');">Delete</a>
        {{updaterecord}}
        {% endfor %}
        {% endif %} -->
    
    </form>
    
    
    
    
    
    
    
    
    
    {% else %}
        <h1 align="center"><a href="/login" >You need to login first</a></h1>
    {% endif %}
    {% endblock %}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        