{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated%}

<h2 align="center"> Drawing of {{get_job_id.jobNo}} </h2>
<a href="{% url 'mysite:createDrawing' job_id=get_job_id.jobNo %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="float: right;">Create new drawing</a>

<table class="table">
    <thead class="table-striped table-dark">
      <tr>
        <th scope="col">Job name</th>
        <th scope="col">Drawing No</th>
        <th scope="col">Drawing Description</th>
        <th scope="col">Quantity</th>
        <th scope="col">Date</th>
        
      </tr>
    </thead>
    <tbody>
    {% for Drawing in get_job_id.drawingjob.all %}
    <tr>

        <!-- <th scope="row">{{Drawing.job}}</th> -->
        <th scope="row"><a href="{% url 'mysite:workflow' drawing_no=Drawing.drawingNo %}">{{Drawing.drawingNo}}</a></th>
        <td>{{Drawing.drawingDesc}}</td>
        <td>{{Drawing.Quantity}}</td>
        <td>{{Drawing.date}}</td>
    </tr>
    {% endfor %} 
    </tbody>
  </table>



{% else %}
  <h1 align="center">You need to Login first </h1>


{% endif %}

{% endblock %}