{% extends 'layout.html' %}

{% block content %}

<DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body class="bg">
    
        <div class="home">
            <h>OP AUTOTECH</h>
            <p class="mb-5 fs-lg-1  aos-init aos-animate" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000" style="color:gray;">WED DATABASE</p>
            <div class="row justify-content-center">
                {% if user.is_authenticated%}
                    <div class="col-auto">
                        <a href="/jobTable" class="btn btn-success" style="width: 160px;">PROJECTS</a>
                    </div>
                    <div class="col-auto">
                        <a href="/reportTable" class="btn btn-light" style="width: 160px;">REPORTS</a>
                    </div>
                {% else %}
                    <div class="col-auto">
                        <a href="/login" class="btn btn-success" style="width: 150px;">LOGIN</a>
                    </div>
                    <div class="col-auto">
                        <a href="/register" class="btn btn-light" style="width: 150px;">REGISTER</a>
                    </div>
                {% endif %}
            </div>
        </div>
    

    </body>
    </html>
{% endblock %}























<!-- <DOCTYPE html>
<html lang="en">
<head>
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
        <h2>{{ text1 }}</h2>
        <h2>{{ text1 }}</h2>

        <h2>tags</h2>
        {% for tag in tag %}
            <p> {{tag}}  </p>
        {% endfor %}

        <ul>
        <h1>hello</h1>
            {% for tag in tag %}
            <li> {{tag}}  </li>
        {% endfor %}
        </ul>

        <h2>hi</h2>
        {% if rating > 3 %}
            <h3> morethan 3</h3>
        {% else %}
        <h3> lessthan 3 </h3>
        {% endif %}
</body>
</html> -->