{% extends 'layout.html' %}

{% block content %}
{% load static %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="300">
    <mate charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Report | OP AUTOTECH</title>

    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">

</head>
<body>
    <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
          <div class="row mb-3 mt-3">
            <div class="col-12" align="center">
                <img class="hidden-mobile" src="{% static 'images/logo.png' %}" height="80px">
              
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="card overflow-hidden">
                <div class="card-content">
                  <div class="card-body cleartfix">
                    <div class="media align-items-stretch">
                      <div class="align-self-center pr-4">
                        <img class="hidden-mobile" src="{% static 'images/icons/clock.png' %}" height="45px">
                        <!-- <i class="fa fa-clock-o primary font-large-2 mr-2"></i> -->
                      </div>
                      <div class="media-body align-self-center">
                        <h1 class="fs-30">Date-Time</h1>
                      </div>
                      <div class="align-self-center pr-4">
                          <p class="fs-25" id='ct5'></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-sm-6 col-12"> 
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <img class="hidden-mobile" src="{% static 'images/icons/file.png' %}" height="80px">
                        <!-- <i class="fa fa-file-text-o primary font-large-3 float-left"></i> -->
                      </div>
                      <div class="media-body text-right">
                        <span class="fs-35">Document</span>
                        <h1 class="fs-35" style="color: #4fb2b6;"><a>Darwing :</a> {{count_document}}</h1>
                        <h1 class="fs-35" style="color: #4fb2b6;"><a>Quantity :</a> {{qty_document}}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <img class="hidden-mobile" src="{% static 'images/icons/cube.png' %}" height="80px">
                        <!-- <i class="fa fa-cube success font-large-3 float-left"></i> -->
                      </div>
                      <div class="media-body text-right">
                        <span class="fs-35">Raw-Material</span>
                        <h1 class="fs-35" style="color: #61cf9e;"><a>Darwing :</a> {{count_cutting}}</h1>
                        <h1 class="fs-35" style="color: #61cf9e;"><a>Quantity :</a> {{qty_cutting}}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="align-self-center">
                        <img class="hidden-mobile" src="{% static 'images/icons/cog.png' %}" height="80px">
                        <!-- <i class="fa fa-cog danger font-large-3 float-left"></i> -->
                      </div>
                      <div class="media-body text-right">
                        <span class="fs-35">Machine</span>
                        <h1 class="fs-35" style="color: #ef7d8a;"><a>Darwing :</a> {{count_machine}}</h1>
                        <h1 class="fs-40" style="color: #ef7d8a;"><a>Quantity :</a> {{qty_machine}}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col-xl-4 col-sm-6 col-12"> 
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <img class="hidden-mobile" src="{% static 'images/icons/check.png' %}" height="80px">
                          <!-- <i class="fa fa-check-square-o warning font-large-3 float-left"></i> -->
                        </div>
                        <div class="media-body text-right">
                            <span class="fs-35">QC</span>
                            <h1 class="fs-35" style="color: #f4ab84;"><a>Darwing :</a> {{count_qc}}</h1>
                            <h1 class="fs-35" style="color: #f4ab84;"><a>Quantity :</a> {{qty_qc}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <img class="hidden-mobile" src="{% static 'images/icons/paint.png' %}" height="80px">
                          <!-- <i class="fa fa-paint-brush info font-large-3 float-left"></i> -->
                        </div>
                        <div class="media-body text-right">
                            <span class="fs-35">Painting</span>
                            <h1 class="fs-35" style="color: #63cbe0;"><a>Darwing :</a> {{count_painting}}</h1>
                            <h1 class="fs-35" style="color: #63cbe0;"><a>Quantity :</a> {{qty_painting}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                          <img class="hidden-mobile" src="{% static 'images/icons/cubes.png' %}" height="80px">
                          <!-- <i class="fa fa-cubes secondary font-large-2 float-left"></i> -->
                        </div>
                        <div class="media-body text-right">
                            <span class="fs-35">Assembly</span>
                            <h1 class="fs-35"><a>Darwing :</a> {{count_assembly}}</h1>
                            <h1 class="fs-35"><a>Quantity :</a> {{qty_assembly}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-xl-4 col-sm-6 col-12"> 
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                            <span class="fs-20">Document Total</span>
                        </div>
                        <div class="media-body text-right">
                            <h1 class="fs-20"><a>Darwing :</a> {{count_document_year}}</h1>
                            <h1 class="fs-20"><a>Quantity :</a> {{qty_document_year}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-12"> 
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                            <span class="fs-20">Machine Total</span>
                        </div>
                        <div class="media-body text-right">
                            <h1 class="fs-20"><a>Darwing :</a> {{count_machine_year}}</h1>
                            <h1 class="fs-20"><a>Quantity :</a> {{qty_machine_year}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-sm-6 col-12"> 
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media d-flex">
                        <div class="align-self-center">
                            <span class="fs-20">Assembly Total</span>
                        </div>
                        <div class="media-body text-right">
                            <h1 class="fs-20"><a>Darwing :</a> {{count_assembly_year}}</h1>
                            <h1 class="fs-20"><a>Quantity :</a> {{qty_assembly_year}}</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </section>
      </div>
</body>
<script>
    function display_ct5() {
    var x = new Date()
    var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var month = x.getMonth() + 1
    var x1=x.getDate() + " "+ months[month] + " " + x.getFullYear(); 
    // var x1=x.getMonth() + 1+ "/" + x.getDate() + "/" + x.getFullYear(); 
    x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds() + " " + ampm;
    document.getElementById('ct5').innerHTML = x1;
    display_c5();
        }
        function display_c5(){
    var refresh=1000; // Refresh rate in milli seconds
    mytime=setTimeout('display_ct5()',refresh)
    }
    display_c5()
</script>
</html>
{% endblock %}