

{% extends 'layout.html' %}

{% block content %}


<DOCTYPE html>
  <html lang="en">
    <head>
      <mate charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report | OP AUTOTECH</title>
  </head>

<body>
  {% if user.is_authenticated%}
  <div class="table-wrapper">
  <h2 align="center" style="margin-bottom: 20px;"> REPORT </h2>
  <form class="form-inline my-lg-0" action="{% url 'mysite:reportTable' %}" style="float: right; ">
    <div class="wrap-input100 validate-input" style="width: auto; margin-bottom: 15px;">
        <input class="input100 form-control mr-sm-2" id="date" type="date" placeholder="Search" aria-label="Search" name="search" style="width: 230px; max-width: 100%; height: 45px;">
        <span class="focus-input100" style="width: 230px; max-width: 100%;"></span>
        <span class="symbol-input100">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
    </div>
    <button class="btn btn-outline-success" type="submit" style="border-radius: 80px; width: auto; height: 45px; font-weight: bold; font-size: 15px; text-shadow: none; border-radius: 80px; line-height: 32px;margin-bottom: 15px;">Search</button>
  </form>
  <select class="browser-default custom-select" id="select_option">
    <option selected id="select_search">Search report</option>
    <option id="select_all">All report</option>
    <option id="select_day">Daily report</option>
    <option id="select_week">Weekly report</option>
    <option id="select_month">Monthly report</option>
  </select>
  
  
  
  <div style="overflow-x: auto;" id="all_report" >
  {% if user.is_staff%}
    <button onclick="ExportToExcel('xlsx')" class="btn btn-success btn-lg active export" aria-pressed="true" style="background-color: #28a745; border-color: #28a745;"><i class="fa fa-download"></i> Export table to excel</button>
  {% endif %}
  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="thead-dark" align="center" >
      <tr>
        <th colspan="5"><h4>DRAWING</h4></th>
        <th colspan="3"><h4>DOCUMENT</h4></th>
        <th colspan="1"><h4>MAKER</h4></th>
        <th colspan="3"><h4>CUTTING</h4></th>
        <th colspan="3"><h4>MACHINE</h4></th>
        <th colspan="3"><h4>QC</h4></th>
        <th colspan="5"><h4>PAINTING</h4></th>
        <th colspan="3"><h4>PAINTING QC</h4></th>
        <th colspan="3"><h4>ASSEMBlY</h4></th>
        <th colspan="3"><h4>REVISE</h4></th>
      </tr>

      <tr>
        <th class="align-middle js-sort-string">Job number</th>
        <th class="align-middle js-sort-string">Project name</th>
        <th class="align-middle js-sort-string">Number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-string">Name</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-string">Company name</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Start date</th>
        <th class="align-middle js-sort-number" style="min-width:130px">End date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>
        
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Times</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-string" style="min-width:500px">Description</th>

      </tr>
    </thead>
    <tbody>
    {% for select_all_report in select_all_report %}
    <tr align="center" >
      
      <td class="align-middle">{{select_all_report.Job_number}}</td>
      <td class="align-middle">{{select_all_report.Project_name}}</td>
      <th class="align-middle">{{select_all_report.drawingNo}}</th>
      <td class="align-middle">{{select_all_report.Drawing_QTY}}</td>
       <td class="align-middle">{{select_all_report.Drawing_date}}</td>
  

      <td class="align-middle">{{select_all_report.Document_QTY}}</td>
      {% if select_all_report.Document_user == null%}
        <td class="align-middle">{{select_all_report.Document_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Document_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Document_date}}</td>


      <td class="align-middle">{{select_all_report.Maker_name}}</td>
      

      <td class="align-middle">{{select_all_report.Cutting_QTY}}</td>
      {% if select_all_report.Cutting_user == null%}
        <td class="align-middle">{{select_all_report.Cutting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Cutting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Cutting_date}}</td>


      <td class="align-middle">{{select_all_report.Machine_QTY}}</td>
      {% if select_all_report.Machine_user == null%}
        <td class="align-middle">{{select_all_report.Machine_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Machine_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Machine_date}}</td>


      <td class="align-middle">{{select_all_report.Qc_QTY}}</td>
      {% if select_all_report.Qc_user == null%}
        <td class="align-middle">{{select_all_report.Qc_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Qc_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Qc_date}}</td>


      <td class="align-middle">{{select_all_report.Painting_name}}</td>
      <td class="align-middle">{{select_all_report.Painting_QTY}}</td>
      {% if select_all_report.Painting_user == null%}
        <td class="align-middle">{{select_all_report.Painting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Painting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Painting_starting_date}}</td>
      <td class="align-middle">{{select_all_report.Painting_End_date}}</td>


      <td class="align-middle">{{select_all_report.Qc_Painting_QTY}}</td>
      {% if select_all_report.Qc_Painting_user == null%}
        <td class="align-middle">{{select_all_report.Qc_Painting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Qc_Painting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Qc_Painting_date}}</td>


      <td class="align-middle">{{select_all_report.Assembly_QTY}}</td>
      {% if select_all_report.Assembly_user == null%}
        <td class="align-middle">{{select_all_report.Assembly_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == select_all_report.Assembly_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{select_all_report.Assembly_date}}</td>

    
    <td class="align-middle">{{select_all_report.Revise_Times}}</td>
    {% if select_all_report.Revise_user == null%}
      <td class="align-middle">{{select_all_report.Revise_user}}</td>
    {% else %}
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == select_all_report.Revise_user %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
    {% endif %}
    <td class="align-middle" align="left">{{select_all_report.Revise_Description}}</td>
    </tr>
    </tbody>
    {% endfor %}
    </table>
  </div>

<!-----------------------------------------search-------------------------------------------------->
<div style="overflow-x: auto;" id="search_report" >
  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="bg-primary text-white" align="center" >
      <tr>
        <th colspan="5"><h4>DOCUMENT</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_document}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_document_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for document_search in document_search %}
    <tr align="center">
      <td class="align-middle" id="myDIV">{{ forloop.counter }}</td>
      <td class="align-middle">{{document_search.drawing_id}}</td>
      <td class="align-middle">{{document_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == document_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{document_search.datePublish.time}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </div>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color:MediumSeaGreen;" align="center" >
      <tr>
        <th colspan="5"><h4>CUTTING</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_cutting}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_cutting_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for cutting_search in cutting_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{cutting_search.drawing_id}}</td>
      <td class="align-middle">{{cutting_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == cutting_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{cutting_search.datePublish.time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color:rgba(235, 0, 0, 0.904);" align="center" >
      <tr>
        <th colspan="5"><h4>MACHINE</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_machine}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_machine_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for machine_search in machine_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{machine_search.drawing_id}}</td>
      <td class="align-middle">{{machine_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == machine_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{machine_search.datePublish.time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color: #e79907;" align="center" >
      <tr>
        <th colspan="5"><h4>QC</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_qc}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_qc_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for qc_search in qc_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      {% for get_cutting_id in get_cutting_id %}
        {% if get_cutting_id.id == qc_search.cutting_id %}
          <td class="align-middle">{{get_cutting_id.drawing_id}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qc_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == qc_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qc_search.datePublish.time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white bg-info mb-3" align="center" >
      <tr>
        <th colspan="5"><h4>PAINTING</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_painting}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_painting_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for painting_search in painting_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{painting_search.drawing_id}}</td>
      <td class="align-middle">{{painting_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == painting_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{painting_search.dateEnd.time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white bg-secondary mb-3" align="center" >
      <tr>
        <th colspan="5"><h4>PAINTING QC</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_qcpainting}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_qcpainting_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    {% for qcpainting_search in qcpainting_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      {% for get_painting_id in get_painting_id %}
        {% if get_painting_id.id == qcpainting_search.painting_id %}
          <td class="align-middle">{{get_painting_id.drawing_id}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qcpainting_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == qcpainting_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qcpainting_search.datePublish.time}}</td>
    {% endfor %}
    </tr>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="thead-dark" align="center" >
      <tr>
        <th colspan="5"><h4>ASSEMBlY</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number [ {{count_assembly}} ]</th>
        <th class="align-middle js-sort-number">Quantity [ {{count_assembly_qty}} ]</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Time</th>
      </tr>
    </thead>
    <tbody>
    {% for assembly_search in assembly_search %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{assembly_search.drawing_id}}</td>
      <td class="align-middle">{{assembly_search.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == assembly_search.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{assembly_search.datePublish.time}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<!-----------------------------------------daily-------------------------------------------------->

  <div style="overflow-x: auto;" id="day_report" >

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="bg-primary text-white" align="center" >
        <tr>
          <th colspan="5"><h4>DOCUMENT</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for document_day_report in document_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{document_day_report.drawing_id}}</td>
        <td class="align-middle">{{document_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == document_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{document_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color:MediumSeaGreen;" align="center" >
        <tr>
          <th colspan="5"><h4>CUTTING</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for cutting_day_report in cutting_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{cutting_day_report.drawing_id}}</td>
        <td class="align-middle">{{cutting_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == cutting_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{cutting_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color:rgba(235, 0, 0, 0.904);" align="center" >
        <tr>
          <th colspan="5"><h4>MACHINE</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for machine_day_report in machine_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{machine_day_report.drawing_id}}</td>
        <td class="align-middle">{{machine_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == machine_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{machine_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color: #e79907;" align="center" >
        <tr>
          <th colspan="5"><h4>QC</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for qc_day_report in qc_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{qc_day_report.drawing_id}}</td>
        <td class="align-middle">{{qc_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == qc_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{qc_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white bg-info mb-3" align="center" >
        <tr>
          <th colspan="5"><h4>PAINTING</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for painting_day_report in painting_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{painting_day_report.drawing_id}}</td>
        <td class="align-middle">{{painting_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == painting_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{painting_day_report.dateEnd}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white bg-secondary mb-3" align="center" >
        <tr>
          <th colspan="5"><h4>PAINTING QC</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for qcpainting_day_report in qcpainting_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{qcpainting_day_report.drawing_id}}</td>
        <td class="align-middle">{{qcpainting_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == qcpainting_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{qcpainting_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="thead-dark" align="center" >
        <tr>
          <th colspan="5"><h4>ASSEMBlY</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
        </tr>
      </thead>
      <tbody>
      {% for assembly_day_report in assembly_day_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{assembly_day_report.drawing_id}}</td>
        <td class="align-middle">{{assembly_day_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == assembly_day_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{assembly_day_report.datePublish}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-----------------------------------------Weekly-------------------------------------------------->

  <div style="overflow-x: auto;" id="week_report" >

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="bg-primary text-white" align="center" >
        <tr>
          <th colspan="6"><h4>DOCUMENT</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for document_week_report in document_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{document_week_report.drawing_id}}</td>
        <td class="align-middle">{{document_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == document_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{document_week_report.datePublish}}</td>
        <td class="align-middle">{{document_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color:MediumSeaGreen;" align="center" >
        <tr>
          <th colspan="6"><h4>CUTTING</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for cutting_week_report in cutting_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{cutting_week_report.drawing_id}}</td>
        <td class="align-middle">{{cutting_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == cutting_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{cutting_week_report.datePublish}}</td>
        <td class="align-middle">{{cutting_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color:rgba(235, 0, 0, 0.904);" align="center" >
        <tr>
          <th colspan="6"><h4>MACHINE</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for machine_week_report in machine_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{machine_week_report.drawing_id}}</td>
        <td class="align-middle">{{machine_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == machine_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{machine_week_report.datePublish}}</td>
        <td class="align-middle">{{machine_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white mb-3" style="background-color: #e79907;" align="center" >
        <tr>
          <th colspan="6"><h4>QC</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for qc_week_report in qc_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{qc_week_report.drawing_id}}</td>
        <td class="align-middle">{{qc_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == qc_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{qc_week_report.datePublish}}</td>
        <td class="align-middle">{{qc_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white bg-info mb-3" align="center" >
        <tr>
          <th colspan="6"><h4>PAINTING</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for painting_week_report in painting_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{painting_week_report.drawing_id}}</td>
        <td class="align-middle">{{painting_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == painting_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{painting_week_report.dateEnd}}</td>
        <td class="align-middle">{{painting_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="text-white bg-secondary mb-3" align="center" >
        <tr>
          <th colspan="6"><h4>PAINTING QC</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for qcpainting_week_report in qcpainting_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{qcpainting_week_report.drawing_id}}</td>
        <td class="align-middle">{{qcpainting_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == qcpainting_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{qcpainting_week_report.datePublish}}</td>
        <td class="align-middle">{{qcpainting_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
      <thead class="thead-dark" align="center" >
        <tr>
          <th colspan="6"><h4>ASSEMBlY</h4></th>
        </tr>
        <tr>
          <th class="align-middle js-sort-string">No.</th>
          <th class="align-middle js-sort-string">Drawing number</th>
          <th class="align-middle js-sort-number">Quantity</th>
          <th class="align-middle js-sort-string">Username</th>
          <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
          <th class="align-middle" style="min-width:130px">Days of the week</th>
        </tr>
      </thead>
      <tbody>
      {% for assembly_week_report in assembly_week_report %}
      <tr align="center" >
        <td class="align-middle">{{ forloop.counter }}</td>
        <td class="align-middle">{{assembly_week_report.drawing_id}}</td>
        <td class="align-middle">{{assembly_week_report.Quantity}}</td>
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == assembly_week_report.user_id %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
        <td class="align-middle">{{assembly_week_report.datePublish}}</td>
        <td class="align-middle">{{assembly_week_report.day}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<!-----------------------------------------monthly-------------------------------------------------->

<div style="overflow-x: auto;" id="month_report" >

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="bg-primary text-white" align="center" >
      <tr>
        <th colspan="5"><h4>DOCUMENT</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for document_month_report in document_month_report %}
    <tr align="center">
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{document_month_report.drawing_id}}</td>
      <td class="align-middle">{{document_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == document_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{document_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color:MediumSeaGreen;" align="center" >
      <tr>
        <th colspan="5"><h4>CUTTING</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for cutting_month_report in cutting_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{cutting_month_report.drawing_id}}</td>
      <td class="align-middle">{{cutting_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == cutting_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{cutting_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color:rgba(235, 0, 0, 0.904);" align="center" >
      <tr>
        <th colspan="5"><h4>MACHINE</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for machine_month_report in machine_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{machine_month_report.drawing_id}}</td>
      <td class="align-middle">{{machine_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == machine_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{machine_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white mb-3" style="background-color: #e79907;" align="center" >
      <tr>
        <th colspan="5"><h4>QC</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for qc_month_report in qc_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{qc_month_report.drawing_id}}</td>
      <td class="align-middle">{{qc_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == qc_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qc_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white bg-info mb-3" align="center" >
      <tr>
        <th colspan="5"><h4>PAINTING</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for painting_month_report in painting_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{painting_month_report.drawing_id}}</td>
      <td class="align-middle">{{painting_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == painting_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{painting_month_report.dateEnd}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="text-white bg-secondary mb-3" align="center" >
      <tr>
        <th colspan="5"><h4>PAINTING QC</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for qcpainting_month_report in qcpainting_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{qcpainting_month_report.drawing_id}}</td>
      <td class="align-middle">{{qcpainting_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == qcpainting_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{qcpainting_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="thead-dark" align="center" >
      <tr>
        <th colspan="5"><h4>ASSEMBlY</h4></th>
      </tr>
      <tr>
        <th class="align-middle js-sort-string">No.</th>
        <th class="align-middle js-sort-string">Drawing number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:130px">Date-Time</th>
      </tr>
    </thead>
    <tbody>
    {% for assembly_month_report in assembly_month_report %}
    <tr align="center" >
      <td class="align-middle">{{ forloop.counter }}</td>
      <td class="align-middle">{{assembly_month_report.drawing_id}}</td>
      <td class="align-middle">{{assembly_month_report.Quantity}}</td>
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == assembly_month_report.user_id %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
      <td class="align-middle">{{assembly_month_report.datePublish}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>








</div>

<script>
  var main = function() {
  $("thead").on("click", function() {
    $(this).parents("table").find("tbody").toggle();
  });

}
$(document).ready(main);
  $('#date').val(new Date().toJSON().slice(0,10));
  $(function() {
    $("#select_option").change(function() {
      if ($("#select_all").is(":selected")) {
        $("#all_report").show();
        $("#search_report").hide();
        $("#day_report").hide();
        $("#day_report").hide();
        $("#week_report").hide();
        $("#month_report").hide();
        
      }
      else if ($("#select_day").is(":selected")) {
        $("#all_report").hide();
        $("#search_report").hide();
        $("#day_report").show();
        $("#week_report").hide();
        $("#month_report").hide();
        
      }
      else if ($("#select_week").is(":selected")) {
        $("#all_report").hide();
        $("#search_report").hide();
        $("#day_report").hide();
        $("#week_report").show();
        $("#month_report").hide();
        
      }
      else if ($("#select_month").is(":selected")) {
        $("#all_report").hide();
        $("#search_report").hide();
        $("#day_report").hide();
        $("#week_report").hide();
        $("#month_report").show();
        
      }
      else {
        $("#all_report").hide();
        $("#search_report").show();
        $("#day_report").hide();
        $("#week_report").hide();
        $("#month_report").hide();
      }
    }).trigger('change');
  });
</script>

{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</body>
</html>
{% endblock %}