

{% extends 'layout.html' %}

{% block content %}


<DOCTYPE html>
  <html lang="en">
    <head>
      <mate charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report | OP AUTOTECH</title>
  </head>

<body>
  {% if user.is_authenticated%}
  <div class="table-wrapper">
  <h2 align="center" style="margin-bottom: 20px;"> REPORT </h2>
  {% if user.is_staff%}
  <button onclick="ExportToExcel('xlsx')" class="btn btn-success btn-lg active export" aria-pressed="true" style="background-color: #28a745; border-color: #28a745;"><i class="fa fa-download"></i> Export table to excel</button>

  {% endif %}
  <div style="overflow-x: auto;" >
  <table  class="table table-striped table-bordered js-sort-table" id="tbl_exporttable_to_xls"  >
    <thead class="thead-dark" align="center" >
      <tr>
        <th colspan="5"><h4>DRAWING</h4></th>
        <th colspan="3"><h4>DOCUMENT</h4></th>
        <th colspan="1"><h4>MAKER</h4></th>
        <th colspan="3"><h4>CUTTING</h4></th>
        <th colspan="4"><h4>MACHINE</h4></th>
        <th colspan="3"><h4>QC</h4></th>
        <th colspan="5"><h4>PAINTING</h4></th>
        <th colspan="3"><h4>PAINTING QC</h4></th>
        <th colspan="3"><h4>ASSEMBY</h4></th>
        <th colspan="3"><h4>REVISE</h4></th>
      </tr>

      <tr>
        <th class="align-middle js-sort-string">Job number</th>
        <th class="align-middle js-sort-string">Project name</th>
        <th class="align-middle js-sort-string">Number</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-string">Name</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number">Machine number</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-string">Company name</th>
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Start date</th>
        <th class="align-middle" style="min-width:130px">End date</th>

        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Date</th>
        
        <th class="align-middle js-sort-number">Quantity</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle" style="min-width:130px">Date</th>

        <th class="align-middle js-sort-number">Times</th>
        <th class="align-middle js-sort-string">Username</th>
        <th class="align-middle js-sort-number" style="min-width:500px">Description</th>

      </tr>
    </thead>
    {% for first_person in first_person %}

    <tr align="center" >
      
      <td class="align-middle">{{first_person.Job_number}}</td>
      <td class="align-middle">{{first_person.Project_name}}</td>
      <th class="align-middle">{{first_person.drawingNo}}</th>
      <td class="align-middle">{{first_person.Drawing_QTY}}</td>
      <td class="align-middle">{{first_person.Drawing_date}}</td>
  

      <td class="align-middle">{{first_person.Document_QTY}}</td>
      {% if first_person.Document_user == null%}
        <td class="align-middle">{{first_person.Document_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Document_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Document_date}}</td>


      <td class="align-middle">{{first_person.Maker_name}}</td>
      

      <td class="align-middle">{{first_person.Cutting_QTY}}</td>
      {% if first_person.Cutting_user == null%}
        <td class="align-middle">{{first_person.Cutting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Cutting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Cutting_date}}</td>


      <td class="align-middle">{{first_person.Machine_QTY}}</td>
      {% if first_person.Machine_user == null%}
        <td class="align-middle">{{first_person.Machine_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Machine_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Machine_number}}</td>
      <td class="align-middle">{{first_person.Machine_date}}</td>


      <td class="align-middle">{{first_person.Qc_QTY}}</td>
      {% if first_person.Qc_user == null%}
        <td class="align-middle">{{first_person.Qc_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Qc_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Qc_date}}</td>


      <td class="align-middle">{{first_person.Painting_name}}</td>
      <td class="align-middle">{{first_person.Painting_QTY}}</td>
      {% if first_person.Painting_user == null%}
        <td class="align-middle">{{first_person.Painting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Painting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Painting_starting_date}}</td>
      <td class="align-middle">{{first_person.Painting_End_date}}</td>


      <td class="align-middle">{{first_person.Qc_Painting_QTY}}</td>
      {% if first_person.Qc_Painting_user == null%}
        <td class="align-middle">{{first_person.Qc_Painting_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Qc_Painting_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Qc_Painting_date}}</td>


      <td class="align-middle">{{first_person.Assemby_QTY}}</td>
      {% if first_person.Assemby_user == null%}
        <td class="align-middle">{{first_person.Assemby_user}}</td>
      {% else %}
        {% for get_user_id in get_user_id %}
          {% if get_user_id.id == first_person.Assemby_user %}
            <td class="align-middle">{{get_user_id.username}}</td>
          {% endif %}
        {% endfor %}
      {% endif %}
      <td class="align-middle">{{first_person.Assemby_date}}</td>
  
    
    <td class="align-middle">{{first_person.Revise_Times}}</td>
    {% if first_person.Revise_user == null%}
      <td class="align-middle">{{first_person.Revise_user}}</td>
    {% else %}
      {% for get_user_id in get_user_id %}
        {% if get_user_id.id == first_person.Revise_user %}
          <td class="align-middle">{{get_user_id.username}}</td>
        {% endif %}
      {% endfor %}
    {% endif %}
    <td class="align-middle" align="left">{{first_person.Revise_Description}}</td>

    </tr>
    {% endfor %}
    


  </table>
  <br/>
</div>
</div>

{% else %}
    <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}
</body>
</html>
{% endblock %}