{% extends 'layout.html' %}

{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
  <mate charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Work Flow | OP AUTOTECH</title>

</head>
<body>
{% if user.is_authenticated %}
<div class="table-wrapper">
  <h2 align="center" class="work-flow" style="overflow-x: auto;"> Workflow of <b>{{get_drawing_id}}</b></h2>
  <div class="container-fluid">

      
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Qr code</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="text-center">
                  <img class="qr-code img-thumbnail img-responsive" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mysite:jobTable' %}">Jobs</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mysite:drawingTable' job_id=get_drawing_id.job_id %}">Drawings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Workflow</li>
          </ol>
        </nav>
    <!-- <div class="text">
        <img src="" class="qr-code img-thumbnail img-responsive" />
    </div> -->

    <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-10">
              <form name='myForm' >
                  <input type="hidden" size="60"
                      maxlength="60" class="form-control"
                      id="content"  name='name' value=''>
                      <p hidden id="demo"></p>
              </form> 
              <script type="text/javascript"> 
                  document.forms['myForm']['name'].value = document.getElementById("demo").innerHTML = window.location.href;
              </script>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter" id="generate" style=" text-align: right;">
        <span>
          <i class="fa fa-qrcode" style="color: white;"></i>
        </span>
          QR Code
        </button>
      </div>
        <div style="text-align: right; margin-top: -38px;">
        {% for upload in get_drawing_id.filedrawing.all %}
          <a href="{{ upload.file.url }}" class="btn btn-danger" target="_blank" rel="noopener noreferrer" style="margin-top: -4px;">Download File</a>       
          {% if user.is_staff %}
          <span class='fa-stack fa-lg'>
              <a class="delete" title="Delete" data-toggle="tooltip" href='/workflow/{{upload.drawing}}/delete/file/{{upload.id}}' onclick="return confirm('Are you sure you want to delete this item?');">
              <i class="material-icons fa-3x">&#xE872;</i></a>
            </span>
          
          {% endif %}
        {% endfor %}

        {% if not get_drawing_id.filedrawing.all%}
        {% if request.user.groups.all.0.name == 'Design' or request.user.groups.all.1.name == 'Design' or request.user.groups.all.2.name == 'Design' or request.user.groups.all.3.name == 'Design' or request.user.groups.all.4.name == 'Design' or request.user.groups.all.5.name == 'Design' or request.user.groups.all.6.name == 'Design' or request.user.groups.all.7.name == 'Design' or user.is_staff or request.user.groups.all.0.name == 'Document' or request.user.groups.all.1.name == 'Document' or request.user.groups.all.2.name == 'Document' or request.user.groups.all.3.name == 'Document' or request.user.groups.all.4.name == 'Document' or request.user.groups.all.5.name == 'Document' or request.user.groups.all.6.name == 'Document' or request.user.groups.all.7.name == 'Document'%}
          <a href="{% url 'mysite:uploadFile' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-danger">
            <span>
              <i class="fa fa-upload" style="color: white;"></i>
            </span>
            Upload file</a>
          {% else %}
            <div class="add-new"></div>
          {% endif %}
        {% endif %}

      </div>
    </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script>
    function htmlEncode(value) {
    return $('<div/>').text(value)
      .html();
    }
    $(function () {
    $('#generate').click(function () {
      let finalURL ='https://chart.googleapis.com/chart?cht=qr&chl=' + htmlEncode($('#content').val()) + '&chs=160x160&chld=L|0'
      $('.qr-code').attr('src', finalURL);});
    });
  </script>

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 1 -->
  <div id="accordion" class="card-workflow">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>

              {% for document in get_drawing_id.documentdrawing.all %}
                {% if get_drawing_id.documentdrawing.all and document.Quantity == get_drawing_id.Quantity  %}
                <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}
            
              Document
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {% for document in get_drawing_id.documentdrawing.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}}) </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5x;">Done = {{document.Quantity}}
            <h5 class="card-title">Checked by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{document.user}}</p>
            <hr>
            <p class="card-title">Skip assembly
              <a class="card-text"> : {{document.skipAssembly}}</a></p>
            <p><u class="card-title">Checked date</u> 
            <a class="card-text"> : {{document.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{document.dateUpdate}}</a></p>
            <h1></h1>
            {% if user.is_staff %}
              <a href="/workflow/{{document.drawing}}/edit/document/{{document.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{document.drawing}}/delete/document/{{document.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_drawing_id.documentdrawing.all%}
          {% if request.user.groups.all.0.name == 'Document' or request.user.groups.all.1.name == 'Document' or request.user.groups.all.2.name == 'Document' or request.user.groups.all.3.name == 'Document' or request.user.groups.all.4.name == 'Document' or request.user.groups.all.5.name == 'Document' or request.user.groups.all.6.name == 'Document' or request.user.groups.all.7.name == 'Document' or user.is_staff%}
              <a href="{% url 'mysite:createDocument' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Checked</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 2 -->
  {% if get_drawing_id.documentdrawing.all %}
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h5>
              {% if get_drawing_id.makerdrawing.all %}
                <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
              {% endif %}  
              Maker
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          {% for maker in get_drawing_id.makerdrawing.all %}
            <h5 class="card-title">Maker name : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{maker.name}}
            <h5 class="card-title">Checked by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{maker.user}}</p>
            <hr>
            <p><u class="card-title">Checked date</u> 
            <a class="card-text"> : {{maker.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{maker.dateUpdate}}</a></p>
            <h1></h1>
            {% if user.is_staff %}
              <a href="/workflow/{{maker.drawing}}/edit/maker/{{maker.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{maker.drawing}}/delete/maker/{{maker.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_drawing_id.makerdrawing.all%}
            {% if request.user.groups.all.0.name == 'Maker' or request.user.groups.all.1.name == 'Maker' or request.user.groups.all.2.name == 'Maker' or request.user.groups.all.3.name == 'Maker' or request.user.groups.all.4.name == 'Maker' or request.user.groups.all.5.name == 'Maker' or request.user.groups.all.6.name == 'Maker' or request.user.groups.all.7.name == 'Maker' or user.is_staff%}
              <a href="{% url 'mysite:createMaker' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Add Maker</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
    
  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 3 -->
  {% if get_maker_id.name == 'OPAutotech'%}
    <div class="card text-white mb-3" style="background-color:MediumSeaGreen;">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5>

              {% for cutting in get_drawing_id.cuttingdrawing.all %}
                {% if get_drawing_id.cuttingdrawing.all and cutting.Quantity == get_drawing_id.Quantity  %}
                <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}
            
              Cutting
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          {% for cutting in get_drawing_id.cuttingdrawing.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">Done = {{cutting.Quantity}}
            <h5 class="card-title">Cutting by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{cutting.user}}</p>
            <hr>
            <p><u class="card-title">Cutting date</u> 
            <a class="card-text" style="margin-bottom: 10px; margin-top: -5px;"> : {{cutting.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text" style="margin-bottom: 10px; margin-top: -5px;"> : {{cutting.dateUpdate}}</a></p>

            {% if user.is_staff %}
              <a href="/workflow/{{cutting.drawing}}/edit/cutting/{{cutting.id}}"><span class='btn btn-success' ">Edit</span></a>
              <a href='/workflow/{{cutting.drawing}}/delete/cutting/{{cutting.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_drawing_id.cuttingdrawing.all%}
            {% if request.user.groups.all.0.name == 'Cutting' or request.user.groups.all.1.name == 'Cutting' or request.user.groups.all.2.name == 'Cutting' or request.user.groups.all.3.name == 'Cutting' or request.user.groups.all.4.name == 'Cutting' or request.user.groups.all.5.name == 'Cutting' or request.user.groups.all.6.name == 'Cutting' or request.user.groups.all.7.name == 'Cutting' or user.is_staff%}
              <a href="{% url 'mysite:createCutting' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Add Cutting</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    
  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 4 -->
    {% if get_drawing_id.cuttingdrawing.all %}
      <div class="card text-white mb-3" style="background-color:rgba(235, 0, 0, 0.904);">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h5>

                {% for machine in get_drawing_id.machinedrawing.all %}
                  {% if get_drawing_id.machinedrawing.all and machine.Quantity == get_drawing_id.Quantity  %}
                  <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                  {% else %}
                    <i class="fa fa-times-circle" style="color: black;" aria-hidden="true"></i>
                  {% endif %}
                {% endfor %}
                Machine
              </h5>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            {% for machine in get_drawing_id.machinedrawing.all %}
              <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
              <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">Done = {{machine.Quantity}}
              <h5 class="card-title">Doing by : </h5>
              <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{machine.user}}
              <hr>
              <p><u class="card-title">Doing date</u> 
              <a class="card-text"> : {{machine.datePublish}}</a></p>
              <p><u class="card-title">Last edit date</u> 
              <a class="card-text"> : {{machine.dateUpdate}}</a></p>

              {% if user.is_staff %}
                <a href="/workflow/{{machine.drawing}}/edit/machine/{{machine.id}}"><span class='btn btn-success'>Edit</span></a>
                <a href='/workflow/{{machine.drawing}}/delete/machine/{{machine.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
              {% endif %}
            {% endfor %}
            {% if not get_drawing_id.machinedrawing.all%}
              {% if request.user.groups.all.0.name == 'Machine' or request.user.groups.all.1.name == 'Machine' or request.user.groups.all.2.name == 'Machine' or request.user.groups.all.3.name == 'Machine' or request.user.groups.all.4.name == 'Machine' or request.user.groups.all.5.name == 'Machine' or request.user.groups.all.6.name == 'Machine' or request.user.groups.all.7.name == 'Machine' or user.is_staff%}
                <a href="{% url 'mysite:createMachine' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Add Machine</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 5 -->
  {% if get_drawing_id.cuttingdrawing.all and get_drawing_id.machinedrawing.all%}
    <div class="card text-white mb-3" style="background-color: #e79907;">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <h5>

              {% for qc in get_machine_id.qcmachine.all %}
                {% if get_machine_id.qcmachine.all and qc.Quantity == get_drawing_id.Quantity %}
                  <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}

              QC
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          {% for qc in get_machine_id.qcmachine.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">Done = {{qc.Quantity}}
            <h5 class="card-title">Checked by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{qc.user}}</p>
            <hr>
            <p><u class="card-title">Checked date</u> 
            <a class="card-text"> : {{qc.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{qc.dateUpdate}}</a></p>
            <h1></h1>
            {% if user.is_staff %}
              <a href="/workflow/{{get_drawing_id}}/edit/qc/{{qc.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{get_drawing_id}}/delete/qc/{{qc.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_machine_id.qcmachine.all%}
            {% if request.user.groups.all.0.name == 'QC' or request.user.groups.all.1.name == 'QC' or request.user.groups.all.2.name == 'QC' or request.user.groups.all.3.name == 'QC' or request.user.groups.all.4.name == 'QC' or request.user.groups.all.5.name == 'QC' or request.user.groups.all.6.name == 'QC' or request.user.groups.all.7.name == 'QC' or user.is_staff%}
              <a href="{% url 'mysite:createQc' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Checked</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 6 -->
  {% if get_machine_id.qcmachine.all %}
    <div class="card text-white bg-info mb-3">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <h5>

              {% for painting in get_drawing_id.paintingdrawing.all %}
                {% if get_drawing_id.paintingdrawing.all and painting.Quantity == get_drawing_id.Quantity and painting.dateEnd%}
                  <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}

              Painting
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          {% for painting in get_drawing_id.paintingdrawing.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">Done = {{painting.Quantity}}
            <h5 class="card-title">Painted by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{painting.user}}</p>
            <hr>
            <p><u class="card-title">Starting date</u> 
            <a class="card-text"> : {{painting.datePublish}}</a></p>
            <p><u class="card-title">End date</u> 
              <a class="card-text"> : {{painting.dateEnd}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{painting.dateUpdate}}</a></p>
            <h1></h1>
            {% if not painting.dateEnd%}
              <a href="/workflow/{{painting.drawing}}/end/painting/{{painting.id}}" class='btn btn-success' onclick="return confirm('Are you sure that painting is completed?');">Add end date</a>
            {% else %}
              {% if user.is_staff %}
                <a href="/workflow/{{painting.drawing}}/end/painting/{{painting.id}}" class='btn btn-success' onclick="return confirm('Are you sure you want to update end date?');">Update end date</a>
              {% endif %}
            {% endif %}
            {% if user.is_staff %}
              <a href="/workflow/{{painting.drawing}}/edit/painting/{{painting.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{painting.drawing}}/delete/painting/{{painting.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_drawing_id.paintingdrawing.all%}
            {% if request.user.groups.all.0.name == 'Painting' or request.user.groups.all.1.name == 'Painting' or request.user.groups.all.2.name == 'Painting' or request.user.groups.all.3.name == 'Painting' or request.user.groups.all.4.name == 'Painting' or request.user.groups.all.5.name == 'Painting' or request.user.groups.all.6.name == 'Painting' or request.user.groups.all.7.name == 'Painting' or user.is_staff%}
              <a href="{% url 'mysite:createPainting' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Add Painting</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 7 -->
  {% if get_drawing_id.paintingdrawing.all and get_drawing_id.paintingdrawing.all.0.dateEnd != None %}
    <div class="card text-dark bg-light mb-3">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            <h5>
              
              {% for qcpainting in get_painting_id.qcpaintingpainting.all %}
                {% if get_painting_id.qcpaintingpainting.all and qcpainting.Quantity == get_drawing_id.Quantity  %}
                  <i class="fa fa-check-circle" style="color: black;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}
              
              Painting QC
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
          {% for qcpainting in get_painting_id.qcpaintingpainting.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
            <p class="card-text" style="color: black; margin-bottom: 10px; margin-top: -5px;">Done = {{qcpainting.Quantity}}
            <h5 class="card-title">Checked by : </h5>
            <p class="card-text" style="color: black; margin-bottom: 10px; margin-top: -5px;">{{qcpainting.user}}</p>
            <hr>
            <p><u class="card-title">Checked date</u> 
            <a class="card-text"> : {{qcpainting.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{qcpainting.dateUpdate}}</a></p>
            <h1></h1>
            {% if user.is_staff %}
              <a href="/workflow/{{get_drawing_id}}/edit/qcpainting/{{qcpainting.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{get_drawing_id}}/delete/qcpainting/{{qcpainting.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_painting_id.qcpaintingpainting.all%}
          {% if request.user.groups.all.0.name == 'QC' or request.user.groups.all.1.name == 'QC' or request.user.groups.all.2.name == 'QC' or request.user.groups.all.3.name == 'QC' or request.user.groups.all.4.name == 'QC' or request.user.groups.all.5.name == 'QC' or request.user.groups.all.6.name == 'QC' or request.user.groups.all.7.name == 'QC' or user.is_staff%}
              <a href="{% url 'mysite:createQcPainting' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-dark">Checked</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 8 -->
  {% if get_document_id.skipAssembly != True %}
  {% if get_painting_id.qcpaintingpainting.all %}
    <div class="card text-white bg-dark mb-3">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <h5>

              {% for assembly in get_drawing_id.assemblydrawing.all %}
                {% if get_drawing_id.assemblydrawing.all and assembly.Quantity == get_drawing_id.Quantity  %}
                <i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i>
                {% else %}
                  <i class="fa fa-times-circle" style="color: rgba(235, 0, 0, 0.904);" aria-hidden="true"></i>
                {% endif %}
              {% endfor %}

              Assembly
            </h5>
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
        <div class="card-body">
          {% for assembly in get_drawing_id.assemblydrawing.all %}
            <h5 class="card-title">Quantity : ({{get_drawing_id.Quantity}})</h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">Done = {{assembly.Quantity}}
            <h5 class="card-title">Assembly by : </h5>
            <p class="card-text" style="margin-bottom: 10px; margin-top: -5px;">{{assembly.user}}</p>
            <hr>
            <p><u class="card-title">Assembly date</u> 
            <a class="card-text"> : {{assembly.datePublish}}</a></p>
            <p><u class="card-title">Last edit date</u> 
            <a class="card-text"> : {{assembly.dateUpdate}}</a></p>

            {% if user.is_staff %}
              <a href="/workflow/{{assembly.drawing}}/edit/assembly/{{assembly.id}}"><span class='btn btn-success'>Edit</span></a>
              <a href='/workflow/{{assembly.drawing}}/delete/assembly/{{assembly.id}}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {% endif %}
          {% endfor %}
          {% if not get_drawing_id.assemblydrawing.all%}
            {% if request.user.groups.all.0.name == 'Assembly' or request.user.groups.all.1.name == 'Assembly' or request.user.groups.all.2.name == 'Assembly' or request.user.groups.all.3.name == 'Assembly' or request.user.groups.all.4.name == 'Assembly' or request.user.groups.all.5.name == 'Assembly' or request.user.groups.all.6.name == 'Assembly' or request.user.groups.all.7.name == 'Assembly' or user.is_staff%}
              <a href="{% url 'mysite:createAssembly' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-light">Add Assembly</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% endif %}

  <!-- ---------------------------------------------------------------------------------------------------------------------------- -->
  <!-- 9 -->
  {% if user.is_staff %}
    {% if get_drawing_id.revisedrawing.all %}
      {% for revise in get_drawing_id.revisedrawing.all %}
        <a href="/workflow/{{revise.drawing}}/edit/revise/{{revise.id}}"><span class='btn btn-danger'>ADD REVISE</span></a>
        <p><b>Revise times : </b> {{revise.numTimes}}</p>
        <p><b> Last revise at :</b> {{revise.dateUpdate}}</p>
        <p><b>Revise Description : </b> {{revise.reviseDesc}}</p>
        <p><a href="/workflow/{{revise.drawing}}/delete/revise/{{revise.id}}" onclick="return confirm('Are you sure you want to RESET all revise?');"> <u>RESET</u> </a></p>
      {% endfor %}
    {% else %}
      <a href="{% url 'mysite:createRevise' drawing_id=get_drawing_id.drawingNo %}" class="btn btn-danger">R E V I S E !!!</a>
    {% endif %}
  {% endif %}
  
</div>
</div>
{% else %}
  <h1 align="center"><a href="/login" >You need to login first</a></h1>
{% endif %}

</body>
</html>

{% endblock %}